
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    margin: 4vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar{
    width: 25%;
    border: apx solid #eee;
    border-radius: 3px;
    padding: 15px;
    height: 92vh;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.data{
    width: 73%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;
}
.fa-circle{
    color: orangered;
}
.searchbar{
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input{
    border: none;
    outline: none;
    background: none;
}
.glass:hover{
    color: orangered;
    cursor: pointer;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands{
    font-size: 25px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}
.fa-brands:hover{
    color: orangered;
}
.top{
    height: 60px;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header{
    height: 200px;
    border-radius: 3px;
    background-color: #333;
    margin: 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header p{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.box{
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: orangered;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: orangered;
}
::-webkit-scrollbar{
    display: none;
}
